header {
  display: flex;
  justify-content: space-around;
  border: 5px solid black;
  align-items: center;
}

#aboutMe {
  margin-top: 100px;
  display: flex;
  height: 100vh;
  border: 5px solid black;
}

#projects {
  margin-top: 100px;
  height: 100vh;
  display: flex;
  border: 5px solid black;
}

#resume {
  margin-top: 100px;
  display: flex;
  height: 100vh;
  border: 5px solid black;
}
