$navbar-color: #111111;
// $navbar-color: #16161a;
$background-color: #242629;
// $background-color: #111111;

$main-text: #fffffe;
$normal-text: #94a1b2;
$buton-color: #7f5af0;
$nav-elements-color_hover: #7f5af0;
