$navbar-color: #111111;
$background-color: #242629;
$main-text: #fffffe;
$normal-text: #94a1b2;
$buton-color: #7f5af0;
$nav-elements-color_hover: #7f5af0;
$highlight: #7f5af0;

.text-highlight {
    color: $highlight;
}
