@import "variables.scss";

.home {
    padding-top: 20rem;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: $background-color;
    color: $main-text;
}
