@import "variables.scss";

#resume {
    padding-top: 2rem;
    display: flex;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-between;
    align-items: center;

    .resumeFrame {
        width: 70%;
        height: 100%;
        border: none;
    }

    .button {
        margin-top: 2rem;
        Button {
            color: $highlight;
            font-size: 1.3rem;
            font-weight: 400;
            cursor: pointer;
            transition: background-color 0.5s ease;

            &:hover {
                background-color: $nav-elements-color_hover;
                color: $main-text;
            }
        }
    }
}
