@import "variables";

.sidebar {
    position: fixed;
    background-color: $sidebar-color;
    color: $main-text;
    display: flex;
    flex-direction: column;
    top: 40%;
    left: 0;
    padding: 1rem 0;
    width: 60px;
    justify-content: space-around;
    align-items: center;

    a {
        text-decoration: none;
        color: $main-text;
    }

    i {
        margin: 1.5rem 0;
        cursor: pointer;
        &:hover {
            color: $highlight;
        }
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
}
